# Android/IntelliJ
*.iml
.gradle/
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea/modules.xml
/.idea/assetWizardSettings.xml
/.idea/navEditor.xml
/.idea/inspectionProfiles
.DS_Store
/build/
/captures/
.externalNativeBuild/

# Gradle
.gradle/
/build/

# Signing keys
**/signing.properties
**/keystore.jks
**/*.keystore
**/*.jks

# Google Services (keep JSON if needed, but ignore debug variants)
**/google-services.json

# Logs
*.log

# Kotlin/Java
out/

# Misc
/.vs/
/.vscode/
*.apk
*.ap_
*.aab

